*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.parent{
    background-color: rgb(128, 122, 124);
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.parent.number-box input{
    padding: 5px;
    outline: none;
    width: 30vw;
}
.parent.number-box input[type="number"]{
    cursor: pointer;
    width: 60px;
}