*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.nav{
    display: flex;
    justify-content: space-between;
    padding: 10px 40px;
    align-items:center ;
    background-color: rgb(7, 7, 7);

}
.nav .links ul{
    display: flex;
    list-style: none;
    gap: 50px;

}
.nav .links ul li a{
    text-decoration: none;
    color: rgb(217, 217, 219);
}
.nav .btns{
    display: flex;
    gap: 30px;

}
.nav .btns button{
    padding: 5px 10px;
    cursor: pointer;
    border: 1px solid rgb(178, 178, 182);
    background-color: transparent;
    color: rgb(169, 169, 173);
}